.skills-container {
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.skills-text {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.skills-image-container {
  padding: 0 10px; 
  overflow: hidden;
  width: 3200px; 
  height: 64px; 
  display: flex; 
  justify-content: center;
}

.skills-image {
  width: 3200px; 
  height: 64px; 
  object-fit: cover; 
}

