.Contact {
  max-width: '90%';
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #20394C;
 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: aliceblue;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}

.form-group textarea {
  height: 100px;
}

button {
  padding: 20px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;

  
}

#title-contact {
  font-size: 35px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.msg-status {
  font-size: 20px;
  margin-top: 20px;
  color: whitesmoke;
}

#subtitle-contact {
  font-size: 25px;
  color: whitesmoke;
  margin-left: 0px;
  margin-bottom: 30px;
}