.header {  
  position: relative;
  z-index: 10; 
  background: transparent;   
  top: 0;
  left: 0;
  width: '100%';  
  background-color: #20394C;
}

.nav {
  display: flex;
  margin-top: -30px;
  margin-bottom: -30px;  
  justify-content: space-around;
  align-items: center;
  padding: 10px;  


}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Barlow Condensed';
}
.nav-item {
  display: flex;
  align-items: center; 
  
}

.nav-item a {
  display: flex;
  align-items: center; 
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-item a:hover {  
  color: #007bff; 
}

.logo-item {
  margin-left: auto;
  margin-right: auto;
  
}

.full-screen-image {
  position: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.full-screen-image img {
  width: 100%;
  height: auto;
  
}
.full-screen-image {
  position: relative; 
  text-align: center; 
}

.full-screen-image img {
  width: 100%; 
  height: auto; 
}

.social-bar {
  background-color: #20394C;
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.social-icon {
  color: white;
  margin: 0 10px;
  font-size: 22px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0077b5;
}

.slider-container {
  position: relative;
  margin-bottom: -10px;
}

.slider-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Estilo para os dots */
.slick-dots {
  bottom: 100px; /* Ajusta a posição vertical */
  display: flex;
  justify-content: center;
}

.slick-dots li button:before {
  font-size: 12px; /* Tamanho das bolinhas */
  color: white; /* Cor das bolinhas */
  opacity: 0.75; /* Transparência das bolinhas inativas */
}

.slick-dots li.slick-active button:before {
  opacity: 1; /* Torna a bolinha ativa opaca (visível) */
  color: gray; /* Cor da bolinha ativa (amarelo dourado, por exemplo) */
}

.nav-item.active a {
  color: #0077b5; /* Cor de destaque para o item ativo */
}
.nav-item a {
  cursor: pointer; /* Transforma o ponteiro em uma mãozinha */
}
