.Contact {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .Contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .Contact p {
    font-size: 1.2em;
  }
  